name: Testing

on:
  push:
    branches:
      - '*'
      - '!refs/tags/.*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - name: coin flip
        run: exit $(( RANDOM % 10 / 9 ))
